@using System.Web
 <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <title>CA Sample</title>
        <!-- For Responsive -->
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=3" />
        <link rel="stylesheet" type="text/css" href="~/Styles/Sidebar.css" />
        <nav class="navbar navbar-default" role="navigation">
	        <div class="container-fluid">
	        <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#example-navbar-collapse">
			    <span class="sr-only">切换导航</span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
		        </button>
		        <a class="navbar-brand" href="#">CompAnalyst</a>
	        </div>
	        <div class="collapse navbar-collapse" id="example-navbar-collapse">
		        <ul class="nav navbar-nav">
			        <li class="active"><a href="#">Home</a></li>
			        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Market Data<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">CAMD</a></li>
                        </ul>
			        </li>
			        <li class="dropdown">
				        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					        Salary Structures
					        <b class="caret"></b>
				        </a>
				        <ul class="dropdown-menu">
					        <li><a href="#">Salary Structures</a></li>
					        <li><a href="#">Salary Structure Wizard</a></li>
				        </ul>
			        </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Salary Planning<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Merit Modeling</a></li>
                        </ul>
			        </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Reporting & Analysis<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Custom Report Writer</a></li>
                            <li><a href="#">Optimized Custom Reports</a></li>
                            <li><a href="#">Standard Reports</a></li>
                        </ul>
			        </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Job Building<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Job Description Builder</a></li>
                        </ul>
			        </li>
		        </ul>
	        </div>
	        </div>
        </nav>
    </head>
    <body>



