@using System.Web
@using System.Web.Optimization

 <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <title>CA Sample</title>
        <!-- For Responsive -->
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=3" />
        <link rel="stylesheet" type="text/css" href="~/Styles/Sidebar.css" />
    </head>
    <body>
        <div class="row">
            <div class="col-xs-12">
                <img src="~/Images/Demo_Header.png" />
            </div>
            
        </div>


