
<link rel="stylesheet" type="text/css" href="~/Styles/cover_ef5fe87.css">
<link rel="stylesheet" node-type="theme-link" type="text/css" href="~/Styles/diskSystem-theme.css">
<div class="frame-all" id="layoutApp">
    <div class="skin-main"></div>
    <div class="7BkpdyCw" node-type="7BkpdyCw">
        <div class="PlJO1vjg" node-type="PlJO1vjg">
            <div class="frame-aside" id="layoutAside">
                <div class="LkLTyZ3" node-type="LkLTyZ3">
                    <div class="UpfvC3" node-type="UpfvC3">
                        <div node-type="anQAly" class="module-aside DtJtsC">
                            <div class="KHbQCub"></div>
                            <ul class="fOHAbxb">
                                <li node-type="vafdqnn4" data-key="all" class="oxuuqp4e bHzsaPb">
                                    <a node-type="azrgE4dl" path="/" class="ldQwKY nzirqgv1" hidefocus="true" href="#">
                                        <span class="text">
                                            <span node-type="ujdqjxm" class="icon icon-disk"></span>
                                            <span node-type="flPlR5">全部文件</span>
                                        </span>
                                    </a>
                                </li>
                                <li node-type="vafdqnn4" data-key="pic" class="oxuuqp4e">
                                    <a node-type="azrgE4dl" class="nzirqgv1" hidefocus="true" href="#">
                                        <span class="text">
                                            <span node-type="flPlR5">图片</span>
                                        </span>
                                    </a>
                                </li>
                                <li node-type="vafdqnn4" data-key="doc" class="oxuuqp4e">
                                    <a node-type="azrgE4dl" cat="4" class="nzirqgv1" hidefocus="true" href="#">
                                        <span class="text">
                                            <span node-type="flPlR5">文档</span>
                                        </span>
                                    </a>
                                </li>
                                <li node-type="vafdqnn4" data-key="video" class="oxuuqp4e">
                                    <a node-type="azrgE4dl" cat="1" class="nzirqgv1" hidefocus="true" href="#">
                                        <span class="text">
                                            <span node-type="flPlR5">视频</span>
                                        </span>
                                    </a>
                                </li>
                                <li node-type="vafdqnn4" data-key="mbt" class="oxuuqp4e">
                                    <a node-type="azrgE4dl" cat="7" class="nzirqgv1" hidefocus="true" href="#">
                                        <span class="text">
                                            <span node-type="flPlR5">种子</span>
                                        </span>
                                    </a>
                                </li>
                                <li node-type="vafdqnn4" data-key="music" class="oxuuqp4e">
                                    <a node-type="azrgE4dl" cat="2" class="nzirqgv1" hidefocus="true" href="#">
                                        <span class="text">
                                            <span node-type="flPlR5">音乐</span>
                                        </span>
                                    </a>
                                </li>
                                <li node-type="vafdqnn4" data-key="other" class="oxuuqp4e">
                                    <a node-type="azrgE4dl" cat="6" class="nzirqgv1" hidefocus="true" href="#">
                                        <span class="text">
                                            <span node-type="flPlR5">其它</span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <div class="ypqlqz5E" style="display: block;"></div>
                            <ul class="FvBGOQ" style="white-space: nowrap; position: relative;">
                                <div class="qjhEk1O" style="display:inline-block;*display:inline;*zoom:1;width:1px;height:1px;line-height:0;"></div>
                                <div class="nrQ0oP" style="position: absolute; top: 0px; padding-top: 0px; line-height: normal;">
                                    <a class="g-button" data-button-id="b1" data-button-index="8" href="javascript:void(0);" title="我的分享">
                                        <span class="g-button-right">
                                            <em class="icon icon-my-share" title="我的分享"></em>
                                            <span class="text" style="width: auto;">我的分享</span>
                                        </span>
                                    </a>
                                    <span class="g-dropdown-button xywE9R5" style="display: none;">
                                        <a class="g-button" data-button-id="b3" data-button-index="" href="javascript:void(0);" title="更多">
                                            <span class="g-button-right">
                                                <em class="icon icon-more" title="更多"></em>
                                                <span class="text" style="width: auto;">更多</span>
                                            </span>
                                        </a>
                                        <span class="menu" style="width: 112px;">
                                            <a style="display:none;" data-menu-id="b-menu0" class="g-button-menu g-menu-hasIcon" href="javascript:void(0);"><em class="icon icon-my-share"></em>我的分享</a>
                                        </span>
                                    </span>
                                </div>
                                <div class="qjhEk1O" style="display:inline-block;*display:inline;*zoom:1;width:1px;height:1px;line-height:0;"></div>
                                <div class="nrQ0oP" style="position: absolute; top: 0px; padding-top: 0px; line-height: normal;">
                                    <a class="g-button" data-button-id="b1" data-button-index="8" href="javascript:void(0);" title="我的分享">
                                        <span class="g-button-right">
                                            <em class="icon icon-my-share" title="我的分享"></em>
                                            <span class="text" style="width: auto;">我的分享</span>
                                        </span>
                                    </a>
                                    <span class="g-dropdown-button xywE9R5" style="display: none;">
                                        <a class="g-button" data-button-id="b3" data-button-index="" href="javascript:void(0);" title="更多">
                                            <span class="g-button-right">
                                                <em class="icon icon-more" title="更多"></em>
                                                <span class="text" style="width: auto;">更多</span>
                                            </span>
                                        </a>
                                        <span class="menu" style="width: 112px;">
                                            <a style="display:none;" data-menu-id="b-menu0" class="g-button-menu g-menu-hasIcon" href="javascript:void(0);"><em class="icon icon-my-share"></em>我的分享</a>
                                        </span>
                                    </span>
                                </div>
                            </ul>
                            <div class="ypqlqz5E" style="display: block;"></div>
                            <ul class="JKEQDvb" style="white-space: nowrap; position: relative;">
                                <div class="qjhEk1O" style="display:inline-block;*display:inline;*zoom:1;width:1px;height:1px;line-height:0;"></div>
                                <div class="rnExpE" style="position: absolute; top: 0px; padding-top: 0px; line-height: normal;">
                                    <a class="g-button" data-button-id="b5" data-button-index="9" href="javascript:void(0);" title="回收站">
                                        <span class="g-button-right">
                                            <em class="icon icon-delete" title="回收站"></em>
                                            <span class="text" style="width: auto;">回收站</span>
                                        </span>
                                    </a>
                                    <span class="g-dropdown-button xywE9R5" style="display: none;">
                                        <a class="g-button" data-button-id="b7" data-button-index="" href="javascript:void(0);" title="更多">
                                            <span class="g-button-right">
                                                <em class="icon icon-more" title="更多"></em>
                                                <span class="text" style="width: auto;">更多</span>
                                            </span>
                                        </a>
                                        <span class="menu" style="width: 112px;">
                                            <a style="display:none;" data-menu-id="b-menu0" class="g-button-menu g-menu-hasIcon" href="javascript:void(0);"><em class="icon icon-delete"></em>回收站</a>
                                        </span>
                                    </span>
                                </div>
                                <div class="qjhEk1O" style="display:inline-block;*display:inline;*zoom:1;width:1px;height:1px;line-height:0;">
                                </div>
                                <div class="rnExpE" style="position: absolute; top: 0px; padding-top: 0px; line-height: normal;">
                                    <a class="g-button" data-button-id="b5" data-button-index="9" href="javascript:void(0);" title="回收站">
                                        <span class="g-button-right">
                                            <em class="icon icon-delete" title="回收站"></em>
                                            <span class="text" style="width: auto;">回收站</span>
                                        </span>
                                    </a>
                                    <span class="g-dropdown-button xywE9R5" style="display: none;">
                                        <a class="g-button" data-button-id="b7" data-button-index="" href="javascript:void(0);" title="更多">
                                            <span class="g-button-right">
                                                <em class="icon icon-more" title="更多"></em>
                                                <span class="text" style="width: auto;">更多</span>
                                            </span>
                                        </a>
                                        <span class="menu" style="width: 112px;">
                                            <a style="display:none;" data-menu-id="b-menu0" class="g-button-menu g-menu-hasIcon" href="javascript:void(0);"><em class="icon icon-delete"></em>回收站</a>
                                        </span>
                                    </span>
                                </div>
                            </ul>
                            <div style="width: 100%; height: auto; background: none;"></div>
                            <div class="aside-absolute-container" style="visibility: visible; position: absolute; width: 100%; height: 100px; top: 406px; bottom: auto;">
                                <div style="width: 100%; height: 50px; background: none; z-index: 3; position: absolute; bottom: auto;">
                                    <div node-type="QGOvsxb" class="QGOvsxb" style="_visibility:visible;">
                                        <div node-type="JGDHAe" class="JGDHAe">
                                            <div class="get-capacity">
                                                <span>
                                                    <a node-type="zbAvFF" href="https://yun.baidu.com/buy/center?tag=1&amp;from=kr2t" target="_blank">           开通会员，升至2T永久容量</a>
                                                </span>
                                            </div>
                                        </div>
                                        <div node-type="vLDPDt" class="capacityforvip">
                                            <span class="vip-icon"></span>
                                            <span>正在尊享超大空间特权</span>
                                        </div>
                                        <div node-type="Azzyve" class="quota-over-tips">
                                            <span node-type="yPzxdg" class="quota-over-tips-close">×</span>
                                            <div node-type="wQPIBeb yPzxdg" class="quota-over-text">		</div>
                                            <a class="quota-over-btn" href="https://pan.baidu.com/disk/home?errno=0&amp;errmsg=Auth%20Login%20Sucess&amp;&amp;bduss=&amp;ssnerror=0&amp;traceid="></a>		<em class="quota-over-bg"></em>
                                        </div>	<ul class="tDuODs">
                                            <li class="g-clearfix bar">
                                                <div node-type="cHFguI" class="remainingSpaceUi">
                                                    <span node-type="BNKFDNb" class="remainingSpaceUi_span" style="background: rgb(146, 239, 85); transition-duration: 0.00140223s; width: 0.093482%;"></span>
                                                </div>
                                                <div class="DIeHPCb remaining-space">
                                                    <span node-type="FOPyGQb" class="bold">1.9G</span>/
                                                    <span node-type="azFNGab">2055G</span>
                                                </div>
                                                <div class="GELdyA">
                                                    <a node-type="ObFydQ" target="_blank" href="https://yun.baidu.com/buy/center?tag=8&amp;from=kr">扩容至5T</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div style="width: 100%; height: 50px; background: none; z-index: 2; position: absolute; bottom: 50px;"></div>
                                <div class="feNMdtb g-clearfix">
                                    <span node-type="KzGbKPb" class="KzGbKPb g-clearfix">
                                        <a node-type="ztexPG PCeHwb" node-log="guangjiaDl" class="img-ico side-lyunguanjia" href="https://issuecdn.baidupcs.com/issue/netdisk/yunguanjia/BaiduNetdisk-5.7.3.exe" title="下载百度网盘PC版">
                                            <span class="icon icon-yunguanjia"></span>PC版
                                        </a>
                                        <a node-type="ztexPG" node-log="androidDl" class="img-ico side-landroid" href="https://issuecdn.baidupcs.com/issue/netdisk/apk/BaiduNetdisk_8.3.0.apk" title="下载百度网盘Android版">
                                            <span class="icon icon-android"></span>
                                        </a>
                                        <a node-type="ztexPG" node-log="iphoneDl" class="img-ico side-liphone" href="https://itunes.apple.com/cn/app/bai-du-wang-pan/id547166701?mt=8" target="_blank" title="下载百度网盘iPhone版">
                                            <span class="icon icon-apple"></span>
                                        </a>
                                        <a node-type="wBPQwQb" href="javascript:void(0);">
                                            <span class="icon icon-more"></span>
                                        </a>
                                    </span>
                                    <div node-type="BbHFaQb" class="FfOIzbb" style="display: none;">
                                        <dl class="bsBdCxb g-clearfix">
                                            <dt node-type="OgCcJx" class="g-clearfix">
                                                <a node-type="ztexPG" node-log="wpDl" class="img-ico side-lwp7 detail-item-block" href="https://www.windowsphone.com/zh-cn/store/app/%E7%99%BE%E5%BA%A6%E4%BA%91/59bf5640-85ae-4a6e-84f1-a61c074e667c" target="_blank" title="下载百度网盘WP版">
                                                    <span class="icon icon-win detail-item-block"></span>WP
                                                </a>
                                                <a node-type="ztexPG" node-log="ipadDl" class="img-ico side-lipad detail-item-block" href="https://itunes.apple.com/cn/app/bai-du-yun-hd/id554602005?mt=8" target="_blank" title="下载百度网盘iPad版">
                                                    <span class="icon icon-iPad detail-item-block"></span>iPad
                                                </a>
                                                <a node-type="ztexPG ECLdMHb" node-log="mactongDl" class="img-ico side-lmactong" href="https://issuecdn.baidupcs.com/issue/netdisk/MACguanjia/BaiduNetdisk-mac-2.2.1.dmg" title="下载百度网盘MAC版">
                                                    <span class="icon icon-mac detail-item-block"></span>Mac<br>版
                                                </a>
                                            </dt>
                                            <dd class="side-lqrcode"><img src="~/Styles/baidu_app_link_small_d939588.png">扫描二维码下载</dd>
                                        </dl><em class="side-arrow"></em>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 100%; height: auto; background: none;"></div>
                            <div class="aside-absolute-container" style="visibility: visible; position: absolute; width: 100%; height: 100px; top: 406px; bottom: auto;">
                                <div style="width: 100%; height: 50px; background: none; z-index: 3; position: absolute; bottom: auto;"></div>
                                <div style="width: 100%; height: 50px; background: none; z-index: 2; position: absolute; bottom: 50px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ESlNPe" node-type="ESlNPe">
            <div class="078c2np" node-type="078c2np">
                <div class="frame-main" id="layoutMain" data-cid="m030195910692720207">
                    <div class="tHVjRd" node-type="tHVjRd">
                        <div class="DxdbeCb g-clearfix">
                            <div class="gfwrPN0x"></div>
                            <div class="hjP5wr">
                                <div class="ryvhP50g uwpcqoD4">
                                    <a node-type="uniPYRk" style="display: none;" class="ehoqn44" href="javascript:void(0)">
                                        <span class="icon icon-list"></span>
                                    </a>
                                    <a node-type="lbgPl2O" class="pfPRje" href="javascript:void(0)">
                                        <span class="icon icon-grid"></span>
                                    </a>
                                </div>
                                <div class="EzLavy">
                                    <div node-type="suQBAG" class="efdtEWV0" href="javascript:void(0)">
                                        <span class="icon icon-order"></span>
                                    </div>
                                    <div node-type="sDwvAgb" class="sDwvAgb">
                                        <span data-key="name" class="vAFAFF">
                                            <em class="icon icon-sort-select"></em>
                                            文件名
                                        </span>
                                        <span data-key="size" class="vAFAFF">
                                            <em class="icon icon-sort-select"></em>
                                            大小
                                        </span>
                                        <span data-key="time" class="vAFAFF ugcOHtb">
                                            <em class="icon icon-sort-select"></em>
                                            修改日期
                                        </span>
                                    </div>
                                </div>
                                <div class="OFaPaO">
                                    <div class="phEGOv" node-type="skglqj0v">
                                        <form node-type="zgE4r7" class="cvunqpvJ ilbnQAlN" action="javascript: void(0)" method="get">
                                            <input node-type="jnQVWW pnwhEvoZ" data-key="SEARCH_QUERY" autocomplete="off" class="xdeE2Ga" name="q" value="" spellchecking="off" type="text">
                                            <span node-type="gplqM06" class="wnEOAM icon icon-search-del" style="display: none;"></span>
                                            <span node-type="pnwhEvoZ" data-key="SEARCH_BUTTON" class="gHHsaL">
                                                <span class="icon icon-search"></span>
                                            </span>
                                            <span node-type="kjfmqJ9J" class="sztED8z" style="display: block;">搜索您的文件</span>
                                        </form>
                                    </div>
                                </div>
                                <div class="qhP7DL" style="white-space: nowrap; position: relative;">
                                    <div class="qjhEk1O" style="display:inline-block;*display:inline;*zoom:1;width:1px;height:1px;line-height:0;"></div>
                                    <div class="tcuLAu" style="position: absolute; top: 0px; padding-top: 11px; line-height: normal; padding-left: 0px; width: auto;">
                                        <span class="g-dropdown-button" style="display: inline-block;">
                                            <a class="g-button g-button-blue blue-upload upload-wrapper" data-button-id="b9" data-button-index="1" href="javascript:void(0);" title="上传">
                                                <span class="g-button-right">
                                                    <em class="icon icon-upload" title="上传"></em>
                                                    <span class="text" style="width: 40px;">上传</span>
                                                </span><form class="h5-uploader-form" action="javascript:void(0);"><input title="点击选择文件" id="h5Input0" multiple="" accept="*/*" type="file" name="html5uploader" style="position:absolute;opacity:0;top:0;left:0;width:100%;height:100%;cursor:pointer;"></form>
                                            </a>
                                            <span class="menu" style="width: 84px;">
                                                <a data-menu-id="b-menu0" class="g-button-menu  upload-wrapper" href="javascript:void(0);">上传文件<form class="h5-uploader-form" action="javascript:void(0);"><input title="点击选择文件" id="h5Input1" multiple="" accept="*/*" type="file" name="html5uploader" style="position:absolute;opacity:0;top:0;left:0;width:100%;height:100%;cursor:pointer;"></form></a>
                                                <a data-menu-id="b-menu1" class="g-button-menu  upload-wrapper" href="javascript:void(0);">上传文件夹<form class="h5-uploader-form" action="javascript:void(0);"><input title="点击选择文件夹" id="h5Input2" multiple="" webkitdirectory="" accept="*/*" type="file" name="html5uploader" style="position:absolute;opacity:0;top:0;left:0;width:100%;height:100%;cursor:pointer;"></form></a>
                                            </span>
                                        </span>
                                        <a class="g-button" data-button-id="b11" data-button-index="2" href="javascript:void(0);" title="新建文件夹" style="display: inline-block;">
                                            <span class="g-button-right">
                                                <em class="icon icon-newfolder" title="新建文件夹"></em>
                                                <span class="text" style="width: auto;">新建文件夹</span>
                                            </span>
                                        </a>
                                        <a class="g-button" data-button-id="b13" data-button-index="3" href="javascript:void(0);" title="离线下载" style="display: inline-block;">
                                            <span class="g-button-right">
                                                <em class="icon icon-download" title="离线下载"></em>
                                                <span class="text" style="width: auto;">离线下载</span>
                                            </span>
                                        </a>
                                        <span class="g-dropdown-button xnqm0W" style="display: inline-block;">
                                            <a class="g-button" data-button-id="b15" data-button-index="4" href="javascript:void(0);" title="我的设备">
                                                <span class="g-button-right">
                                                    <em class="icon icon-device" title="我的设备"></em>
                                                    <span class="text" style="width: auto;">我的设备</span>
                                                </span>
                                            </a>
                                            <span class="menu" style="width: 96px;">
                                                <a data-menu-id="b-menu0" class="g-button-menu " href="javascript:void(0);">推送任务列表</a>
                                                <a data-menu-id="b-menu1" class="g-button-menu " href="javascript:void(0);">添加设备</a>
                                            </span>
                                        </span>
                                        <span class="g-dropdown-button xywE9R5" style="display: none;">
                                            <a class="g-button" data-button-id="b17" data-button-index="" href="javascript:void(0);" title="更多">
                                                <span class="g-button-right">
                                                    <em class="icon icon-more" title="更多"></em>
                                                    <span class="text" style="width: auto;">更多</span>
                                                </span>
                                            </a>
                                            <span class="menu" style="width: 70px;">
                                                <a style="display:none;" data-menu-id="b-menu0" class="g-button-menu g-menu-hasIcon" href="javascript:void(0);"><em class="icon icon-upload"></em>上传</a>
                                                <a style="display:none;" data-menu-id="b-menu1" class="g-button-menu g-menu-hasIcon" href="javascript:void(0);"><em class="icon icon-newfolder"></em>新建文件夹</a>
                                                <a style="display:none;" data-menu-id="b-menu2" class="g-button-menu g-menu-hasIcon" href="javascript:void(0);"><em class="icon icon-download"></em>离线下载</a>
                                                <a style="display:none;" data-menu-id="b-menu3" class="g-button-menu g-menu-hasIcon" href="javascript:void(0);"><em class="icon icon-device"></em>我的设备</a>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="qjhEk1O" style="display:inline-block;*display:inline;*zoom:1;width:1px;height:1px;line-height:0;"></div>
                                    <div class="QDDOQB" style="position: absolute; top: 0px; padding-top: 11px; line-height: normal; display: block; visibility: hidden; width: 893px; padding-left: 433px;">
                                        <a class="g-button" data-button-id="b19" data-button-index="1" href="javascript:void(0);" title="分享" style="display: inline-block;">
                                            <span class="g-button-right">
                                                <em class="icon icon-share" title="分享"></em>
                                                <span class="text" style="width: auto;">分享</span>
                                            </span>
                                        </a>
                                        <a class="g-button g-button-hastips" data-button-id="b21" data-button-index="1" href="javascript:void(0);" title="邀好友共同管理文件夹" style="display: none;">
                                            <span class="g-button-right">
                                                <em class="icon icon-sharedir" title=""></em>
                                                <span class="text" style="width: auto;">共享</span>
                                            </span>
                                            <span class="g-button-tips">邀好友共同管理文件夹</span>
                                        </a>
                                        <a class="g-button" data-button-id="b23" data-button-index="1" href="javascript:void(0);" title="取消共享" style="display: none;">
                                            <span class="g-button-right">
                                                <em class="icon icon-sharedir" title="取消共享"></em>
                                                <span class="text" style="width: auto;">取消共享</span>
                                            </span>
                                        </a>
                                        <a class="g-button" data-button-id="b25" data-button-index="1" href="javascript:void(0);" title="退出共享" style="display: none;">
                                            <span class="g-button-right">
                                                <em class="icon icon-sharedir" title="退出共享"></em>
                                                <span class="text" style="width: auto;">退出共享</span>
                                            </span>
                                        </a>
                                        <a class="g-button" data-button-id="b27" data-button-index="2" href="javascript:void(0);" title="音乐播放" style="display: none;">
                                            <span class="g-button-right">
                                                <em class="icon icon-play" title="音乐播放"></em>
                                                <span class="text" style="width: auto;">音乐播放</span>
                                            </span>
                                        </a>
                                        <a class="g-button" data-button-id="b29" data-button-index="3" href="javascript:void(0);" title="下载" style="display: inline-block;">
                                            <span class="g-button-right">
                                                <em class="icon icon-download" title="下载"></em>
                                                <span class="text" style="width: auto;">下载</span>
                                            </span>
                                        </a>
                                        <a class="g-button" data-button-id="b31" data-button-index="5" href="javascript:void(0);" title="删除" style="display: inline-block;">
                                            <span class="g-button-right">
                                                <em class="icon icon-delete" title="删除"></em>
                                                <span class="text" style="width: auto;">删除</span>
                                            </span>
                                        </a>
                                        <a class="g-button" data-button-id="b33" data-button-index="8" href="javascript:void(0);" title="云冲印" style="display: none;">
                                            <span class="g-button-right">
                                                <em class="icon icon-print" title="云冲印"></em>
                                                <span class="text" style="width: auto;">云冲印</span>
                                            </span>
                                        </a>
                                        <a class="g-button" data-button-id="b35" data-button-index="9" href="javascript:void(0);" title="照片电影" style="display: none;">
                                            <span class="g-button-right">
                                                <em class="icon icon-director" title="照片电影"></em>
                                                <span class="text" style="width: auto;">照片电影</span>
                                            </span>
                                        </a>
                                        <a class="g-button" data-button-id="b37" data-button-index="9" href="javascript:void(0);" title="历史版本" style="display: none;">
                                            <span class="g-button-right">
                                                <em class="icon icon-history" title="历史版本"></em>
                                                <span class="text" style="width: auto;">历史版本</span>
                                            </span>
                                        </a>
                                        <a class="g-button " data-button-id="b39" data-button-index="13" href="javascript:void(0);" title="美化" style="display: none;">
                                            <span class="g-button-right">
                                                <em class="icon icon-beauty" title="美化"></em>
                                                <span class="text" style="width: auto;">美化</span>
                                            </span>
                                        </a>
                                        <a class="g-button g-disabled" data-button-id="b41" data-button-index="101" href="javascript:void(0);" title="重命名" style="display: inline-block;">
                                            <span class="g-button-right">
                                                <span class="text" style="width: auto;">重命名</span>
                                            </span>
                                        </a>
                                        <a class="g-button" data-button-id="b43" data-button-index="102" href="javascript:void(0);" title="复制到" style="display: inline-block;">
                                            <span class="g-button-right">
                                                <span class="text" style="width: auto;">复制到</span>
                                            </span>
                                        </a>
                                        <a class="g-button" data-button-id="b45" data-button-index="103" href="javascript:void(0);" title="移动到" style="display: inline-block;">
                                            <span class="g-button-right">
                                                <span class="text" style="width: auto;">移动到</span>
                                            </span>
                                        </a>
                                        <a class="g-button" data-button-id="b47" data-button-index="103" href="javascript:void(0);" title="详细信息" style="display: none;">
                                            <span class="g-button-right">
                                                <span class="text" style="width: auto;">详细信息</span>
                                            </span>
                                        </a>
                                        <span class="g-dropdown-button xnqm0W" style="display: inline-block;">
                                            <a class="g-button" data-button-id="b49" data-button-index="104" href="javascript:void(0);" title="推送到云设备">
                                                <span class="g-button-right">
                                                    <span class="text" style="width: auto;">推送到云设备</span>
                                                </span>
                                            </a>
                                            <span class="menu" style="width: 102px;"></span>
                                        </span>
                                        <span class="g-dropdown-button xywE9R5" style="display: none;">
                                            <a class="g-button" data-button-id="b51" data-button-index="" href="javascript:void(0);" title="更多">
                                                <span class="g-button-right">
                                                    <em class="icon icon-more" title="更多"></em>
                                                    <span class="text" style="width: auto;">更多</span>
                                                </span>
                                            </a>
                                            <span class="menu" style="width: 70px;">
                                                <a style="display:none;" data-menu-id="b-menu0" class="g-button-menu g-menu-hasIcon" href="javascript:void(0);"><em class="icon icon-share"></em>分享</a>
                                                <a style="display:none;" data-menu-id="b-menu1" class="g-button-menu g-menu-hasIcon" href="javascript:void(0);"><em class="icon icon-sharedir"></em>共享</a>
                                                <a style="display:none;" data-menu-id="b-menu2" class="g-button-menu g-menu-hasIcon" href="javascript:void(0);"><em class="icon icon-sharedir"></em>取消共享</a>
                                                <a style="display:none;" data-menu-id="b-menu3" class="g-button-menu g-menu-hasIcon" href="javascript:void(0);"><em class="icon icon-sharedir"></em>退出共享</a>
                                                <a data-menu-id="b-menu4" class="g-button-menu g-menu-hasIcon g-disabled" href="javascript:void(0);" style="display: none;"><em class="icon icon-play"></em>音乐播放</a>
                                                <a style="display:none;" data-menu-id="b-menu5" class="g-button-menu g-menu-hasIcon" href="javascript:void(0);"><em class="icon icon-download"></em>下载</a>
                                                <a style="display:none;" data-menu-id="b-menu6" class="g-button-menu g-menu-hasIcon" href="javascript:void(0);"><em class="icon icon-delete"></em>删除</a>
                                                <a data-menu-id="b-menu7" class="g-button-menu g-menu-hasIcon g-disabled" href="javascript:void(0);" style="display: none;"><em class="icon icon-print"></em>云冲印</a>
                                                <a data-menu-id="b-menu8" class="g-button-menu g-menu-hasIcon g-disabled" href="javascript:void(0);" style="display: none;"><em class="icon icon-director"></em>照片电影</a>
                                                <a data-menu-id="b-menu9" class="g-button-menu g-menu-hasIcon g-disabled" href="javascript:void(0);" style="display: none;"><em class="icon icon-history"></em>历史版本</a>
                                                <a data-menu-id="b-menu17" class="g-button-menu g-menu-hasIcon" href="javascript:void(0);" style="display: none;"><em class="icon icon-beauty"></em>美化</a>
                                                <a style="display:none;" data-menu-id="b-menu11" class="g-button-menu " href="javascript:void(0);">重命名</a>
                                                <a style="display:none;" data-menu-id="b-menu12" class="g-button-menu " href="javascript:void(0);">复制到</a>
                                                <a data-menu-id="b-menu13" class="g-button-menu" href="javascript:void(0);" style="display: none;">移动到</a>
                                                <a data-menu-id="b-menu14" class="g-button-menu  g-disabled" href="javascript:void(0);" style="display: none;">详细信息</a>
                                                <span style="display:none;" data-menu-id="b-menu15" class="g-button-menu g-menu-hasIcon">
                                                    <span class="g-dropdown-button g-dropdown-button-second" menulevel="2">
                                                        <a class="g-button" data-button-id="b53" data-button-index="104" href="javascript:void(0);" title="推送到云设备">
                                                            <span class="g-button-right">
                                                                <span class="text" style="width: auto;">推送到云设备</span>
                                                            </span>
                                                        </a>
                                                        <span class="menu"></span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="qjhEk1O" style="display:inline-block;*display:inline;*zoom:1;width:1px;height:1px;line-height:0;"></div>
                                    <div class="tcuLAu" style="position: absolute; top: 0px; padding-top: 11px; line-height: normal; padding-left: 0px; width: auto;">
                                        <a onclick="uploadTemplateBtn.click()" class="g-button g-button-blue blue-upload upload-wrapper" data-button-id="b9" data-button-index="1" href="javascript:void(0);" title="上传" style="display: inline-block;">
                                            <span class="g-button-right">
                                                <em class="icon icon-upload" title="上传"></em>
                                                <span class="text" style="width: 40px;">上传</span>
                                            </span>
                                            <div style="position:absolute;top:0;left:0;width:86px;height:33px;">
                                                <input class="hidden" type="file" id="uploadTemplateBtn" />
                                                @*<object id="SWFUpload_0" type="application/x-shockwave-flash" data="/box-static/disk-system/widget/plugin/uploader/uploadUtil/flashUploader/swfupload_c0e5c70.swf" width="86" height="33" class="swfupload">
                                                        <param name="wmode" value="transparent">
                                                        <param name="movie" value="/box-static/disk-system/widget/plugin/uploader/uploadUtil/flashUploader/swfupload_c0e5c70.swf">
                                                        <param name="quality" value="high"><param name="menu" value="false">
                                                        <param name="allowScriptAccess" value="always">
                                                        <param name="flashvars" value="movieName=SWFUpload_0&amp;uploadURL=%2F%2Fc4.pcs.baidu.com%2Frest%2F2.0%2Fpcs%2Fsuperfile2%3Fmethod%3Dupload%26app_id%3D250528%26channel%3Dchunlei%26clienttype%3D0%26web%3D1%26BDUSS%3Dpansec_DCb740ccc5511e5e8fedcff06b081203-9FNI32jc6b4Ielmq0RBm8sJzc57lsbxaGRQ2vVWVegWLVLiC1zuOfmUI03LmAHm0u66tc08%252BPzKx96opnWRE9tKADhsRPUX24nC4W4tx%252BhPLdenR293E7l5MwxB5WPcw9WAgHakSYAteXB%252FCwMzNuFz8mlgerqIlteodHiLaafIpFCKdDPnEauVFGBkcCWRRhsiVqlS9ioGFp%252BZpfPAwIzaZ%252BgzWSdwPT2jS8E3VwCLv0Dc7c3fH7fsgt%252FdV2MILo55OrANP%252FSMrgoahlf5WXw%253D%253D%26logid%3DMTUxOTUzNDQ3OTc5NTAuNjA2Nzg5NzUxOTU2MzYxMg%3D%3D%26type%3Dtmpfile&amp;useQueryString=false&amp;requeueOnError=true&amp;httpSuccess=&amp;assumeSuccessTimeout=0&amp;params=&amp;filePostName=Filedata&amp;fileTypes=*.*&amp;fileTypesDescription=All%20Files&amp;fileSizeLimit=1%20GB&amp;fileUploadLimit=0&amp;fileQueueLimit=200&amp;debugEnabled=false&amp;buttonImageURL=&amp;buttonWidth=86&amp;buttonHeight=33&amp;buttonText=&amp;buttonTextTopPadding=0&amp;buttonTextLeftPadding=0&amp;buttonTextStyle=color%3A%20%23000000%3B%20font-size%3A%2016pt%3B&amp;buttonAction=-110&amp;buttonDisabled=false&amp;buttonCursor=-2">
                                                    </object>*@
                                            </div>
                                        </a>
                                        <a class="g-button" data-button-id="b11" data-button-index="2" href="javascript:void(0);" title="新建文件夹" style="display: inline-block;">
                                            <span class="g-button-right">
                                                <em class="icon icon-newfolder" title="新建文件夹"></em>
                                                <span class="text" style="width: auto;">新建文件夹</span>
                                            </span>
                                        </a>
                                        <a class="g-button" data-button-id="b13" data-button-index="3" href="javascript:void(0);" title="离线下载" style="display: inline-block;">
                                            <span class="g-button-right">
                                                <em class="icon icon-download" title="离线下载"></em>
                                                <span class="text" style="width: auto;">离线下载</span>
                                            </span>
                                        </a>
                                        <span class="g-dropdown-button xnqm0W" style="display: inline-block;">
                                            <a class="g-button" data-button-id="b15" data-button-index="4" href="javascript:void(0);" title="我的设备">
                                                <span class="g-button-right">
                                                    <em class="icon icon-device" title="我的设备"></em>
                                                    <span class="text" style="width: auto;">我的设备</span>
                                                </span>
                                            </a>
                                            <span class="menu" style="width: 96px;">
                                                <a data-menu-id="b-menu0" class="g-button-menu " href="javascript:void(0);">推送任务列表</a>
                                                <a data-menu-id="b-menu1" class="g-button-menu " href="javascript:void(0);">添加设备</a>
                                            </span>
                                        </span>
                                        <span class="g-dropdown-button xywE9R5" style="display: none;">
                                            <a class="g-button" data-button-id="b17" data-button-index="" href="javascript:void(0);" title="更多">
                                                <span class="g-button-right">
                                                    <em class="icon icon-more" title="更多"></em>
                                                    <span class="text" style="width: auto;">更多</span>
                                                </span>
                                            </a>
                                            <span class="menu" style="width: 70px;">
                                                <a style="display:none;" data-menu-id="b-menu0" class="g-button-menu g-menu-hasIcon" href="javascript:void(0);"><em class="icon icon-upload"></em>上传</a>
                                                <a style="display:none;" data-menu-id="b-menu1" class="g-button-menu g-menu-hasIcon" href="javascript:void(0);"><em class="icon icon-newfolder"></em>新建文件夹</a>
                                                <a style="display:none;" data-menu-id="b-menu2" class="g-button-menu g-menu-hasIcon" href="javascript:void(0);"><em class="icon icon-download"></em>离线下载</a>
                                                <a style="display:none;" data-menu-id="b-menu3" class="g-button-menu g-menu-hasIcon" href="javascript:void(0);"><em class="icon icon-device"></em>我的设备</a>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="qjhEk1O" style="display:inline-block;*display:inline;*zoom:1;width:1px;height:1px;line-height:0;"></div>
                                    <div class="QDDOQB" style="position: absolute; top: 0px; padding-top: 11px; line-height: normal; display: block; padding-left: 433px; width: 893px; visibility: hidden;">
                                        <a class="g-button" data-button-id="b19" data-button-index="1" href="javascript:void(0);" title="分享" style="display: inline-block;">
                                            <span class="g-button-right">
                                                <em class="icon icon-share" title="分享"></em>
                                                <span class="text" style="width: auto;">分享</span>
                                            </span>
                                        </a>
                                        <a class="g-button g-button-hastips" data-button-id="b21" data-button-index="1" href="javascript:void(0);" title="邀好友共同管理文件夹" style="display: none;">
                                            <span class="g-button-right">
                                                <em class="icon icon-sharedir" title=""></em>
                                                <span class="text" style="width: auto;">共享</span>
                                            </span>
                                            <span class="g-button-tips">邀好友共同管理文件夹</span>
                                        </a>
                                        <a class="g-button" data-button-id="b23" data-button-index="1" href="javascript:void(0);" title="取消共享" style="display: none;">
                                            <span class="g-button-right">
                                                <em class="icon icon-sharedir" title="取消共享"></em>
                                                <span class="text" style="width: auto;">取消共享</span>
                                            </span>
                                        </a>
                                        <a class="g-button" data-button-id="b25" data-button-index="1" href="javascript:void(0);" title="退出共享" style="display: none;">
                                            <span class="g-button-right">
                                                <em class="icon icon-sharedir" title="退出共享"></em>
                                                <span class="text" style="width: auto;">退出共享</span>
                                            </span>
                                        </a>
                                        <a class="g-button" data-button-id="b27" data-button-index="2" href="javascript:void(0);" title="音乐播放" style="display: none;">
                                            <span class="g-button-right">
                                                <em class="icon icon-play" title="音乐播放"></em>
                                                <span class="text" style="width: auto;">音乐播放</span>
                                            </span>
                                        </a>
                                        <a class="g-button" data-button-id="b29" data-button-index="3" href="javascript:void(0);" title="下载" style="display: inline-block;">
                                            <span class="g-button-right">
                                                <em class="icon icon-download" title="下载"></em>
                                                <span class="text" style="width: auto;">下载</span>
                                            </span>
                                        </a>
                                        <a class="g-button" data-button-id="b31" data-button-index="5" href="javascript:void(0);" title="删除" style="display: inline-block;">
                                            <span class="g-button-right">
                                                <em class="icon icon-delete" title="删除"></em>
                                                <span class="text" style="width: auto;">删除</span>
                                            </span>
                                        </a>
                                        <a class="g-button" data-button-id="b33" data-button-index="8" href="javascript:void(0);" title="云冲印" style="display: none;">
                                            <span class="g-button-right">
                                                <em class="icon icon-print" title="云冲印"></em>
                                                <span class="text" style="width: auto;">云冲印</span>
                                            </span>
                                        </a>
                                        <a class="g-button" data-button-id="b35" data-button-index="9" href="javascript:void(0);" title="照片电影" style="display: none;">
                                            <span class="g-button-right">
                                                <em class="icon icon-director" title="照片电影"></em>
                                                <span class="text" style="width: auto;">照片电影</span>
                                            </span>
                                        </a>
                                        <a class="g-button" data-button-id="b37" data-button-index="9" href="javascript:void(0);" title="历史版本" style="display: none;">
                                            <span class="g-button-right">
                                                <em class="icon icon-history" title="历史版本"></em>
                                                <span class="text" style="width: auto;">历史版本</span>
                                            </span>
                                        </a>
                                        <a class="g-button " data-button-id="b39" data-button-index="13" href="javascript:void(0);" title="美化" style="display: none;">
                                            <span class="g-button-right">
                                                <em class="icon icon-beauty" title="美化"></em>
                                                <span class="text" style="width: auto;">美化</span>
                                            </span>
                                        </a>
                                        <a class="g-button g-disabled" data-button-id="b41" data-button-index="101" href="javascript:void(0);" title="重命名" style="display: inline-block;">
                                            <span class="g-button-right">
                                                <span class="text" style="width: auto;">重命名</span>
                                            </span>
                                        </a>
                                        <a class="g-button" data-button-id="b43" data-button-index="102" href="javascript:void(0);" title="复制到" style="display: inline-block;">
                                            <span class="g-button-right">
                                                <span class="text" style="width: auto;">复制到</span>
                                            </span>
                                        </a>
                                        <a class="g-button" data-button-id="b45" data-button-index="103" href="javascript:void(0);" title="移动到" style="display: inline-block;">
                                            <span class="g-button-right">
                                                <span class="text" style="width: auto;">移动到</span>
                                            </span>
                                        </a>
                                        <a class="g-button" data-button-id="b47" data-button-index="103" href="javascript:void(0);" title="详细信息" style="display: none;">
                                            <span class="g-button-right">
                                                <span class="text" style="width: auto;">详细信息</span>
                                            </span>
                                        </a>
                                        <span class="g-dropdown-button xnqm0W" style="display: inline-block;">
                                            <a class="g-button" data-button-id="b49" data-button-index="104" href="javascript:void(0);" title="推送到云设备">
                                                <span class="g-button-right">
                                                    <span class="text" style="width: auto;">推送到云设备</span>
                                                </span>
                                            </a>
                                            <span class="menu" style="width: 102px;"></span>
                                        </span>
                                        <span class="g-dropdown-button xywE9R5" style="display: none;">
                                            <a class="g-button" data-button-id="b51" data-button-index="" href="javascript:void(0);" title="更多">
                                                <span class="g-button-right">
                                                    <em class="icon icon-more" title="更多"></em>
                                                    <span class="text" style="width: auto;">更多</span>
                                                </span>
                                            </a>
                                            <span class="menu" style="width: 68px;">
                                                <a style="display:none;" data-menu-id="b-menu0" class="g-button-menu g-menu-hasIcon" href="javascript:void(0);"><em class="icon icon-share"></em>分享</a>
                                                <a style="display:none;" data-menu-id="b-menu1" class="g-button-menu g-menu-hasIcon" href="javascript:void(0);"><em class="icon icon-sharedir"></em>共享</a>
                                                <a style="display:none;" data-menu-id="b-menu2" class="g-button-menu g-menu-hasIcon" href="javascript:void(0);"><em class="icon icon-sharedir"></em>取消共享</a>
                                                <a style="display:none;" data-menu-id="b-menu3" class="g-button-menu g-menu-hasIcon" href="javascript:void(0);"><em class="icon icon-sharedir"></em>退出共享</a>
                                                <a data-menu-id="b-menu4" class="g-button-menu g-menu-hasIcon g-disabled" href="javascript:void(0);" style="display: none;">
                                                    <em class="icon icon-play"></em>音乐播放
                                                </a>
                                                <a style="display:none;" data-menu-id="b-menu5" class="g-button-menu g-menu-hasIcon" href="javascript:void(0);"><em class="icon icon-download"></em>下载</a>
                                                <a style="display:none;" data-menu-id="b-menu6" class="g-button-menu g-menu-hasIcon" href="javascript:void(0);"><em class="icon icon-delete"></em>删除</a>
                                                <a data-menu-id="b-menu7" class="g-button-menu g-menu-hasIcon g-disabled" href="javascript:void(0);" style="display: none;"><em class="icon icon-print"></em>云冲印</a>
                                                <a data-menu-id="b-menu8" class="g-button-menu g-menu-hasIcon g-disabled" href="javascript:void(0);" style="display: none;"><em class="icon icon-director"></em>照片电影</a>
                                                <a data-menu-id="b-menu9" class="g-button-menu g-menu-hasIcon g-disabled" href="javascript:void(0);" style="display: none;"><em class="icon icon-history"></em>历史版本</a>
                                                <a data-menu-id="b-menu16" class="g-button-menu g-menu-hasIcon g-disabled" href="javascript:void(0);" style="display: none;"><em class="icon icon-beauty"></em>美化</a>
                                                <a style="display:none;" data-menu-id="b-menu11" class="g-button-menu " href="javascript:void(0);">重命名</a>
                                                <a style="display:none;" data-menu-id="b-menu12" class="g-button-menu " href="javascript:void(0);">复制到</a>
                                                <a data-menu-id="b-menu13" class="g-button-menu" href="javascript:void(0);" style="display: none;">移动到</a>
                                                <a data-menu-id="b-menu14" class="g-button-menu  g-disabled" href="javascript:void(0);" style="display: none;">详细信息</a>
                                                <span style="display: none;" data-menu-id="b-menu15" class="g-button-menu g-menu-hasIcon">
                                                    <span class="g-dropdown-button g-dropdown-button-second" menulevel="2">
                                                        <a class="g-button" data-button-id="b53" data-button-index="104" href="javascript:void(0);" title="推送到云设备">
                                                            <span class="g-button-right">
                                                                <span class="text" style="width: auto;">推送到云设备</span>
                                                            </span>
                                                        </a>
                                                        <span class="menu"></span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="wikhqjnm"></div>
                            <div class="zkE49l" style="display: none;">
                            </div>
                            <div node-type="EQBfLM" class="EQBfLM g-clearfix" style="display: none;">
                                <a href="https://pan.baidu.com/disk/timeline" class="AbMfvg">时光轴</a>
                                <a href="javascript:void(0);" class="AbMfvg selected">最近上传</a>
                            </div>
                        </div>
                        <div class="0ke68UfZ" node-type="0ke68UfZ">
                            <div class="kcwClOm DropFrame" node-type="kcwClOm" id="drapFileInput">
                                <!--[if IE]><iframe id="historyIFrameEmulator" style="display: none"></iframe><![endif]-->
                                <div node-type="KPDwCE" class="KPDwCE" style="height: 341px;">
                                    <div class="fyQgAEb" style="display: block;" data-cid="m041769690485555167">
                                        <div node-type="BNfIyPb" class="BNfIyPb" style="height: 233px; overflow-y: auto;">
                                            <div class="FileList" style="height: auto;">
                                                <div class="col-xs-2 img-rounded text-center" data-type="video" data-filename="video.mp4" data-videoname="/LmxYun/UploadPath/LMX/movie.mp4" onclick="openVideo(this);">
                                                    <img class="single" src="~/Images/test.jpg" />
                                                    <span>video.mp4</span>
                                                </div>
                                                <div class="col-xs-2 img-rounded text-center" data-type="audio" data-filename="horse.mp3" data-videoname="/LmxYun/UploadPath/LMX/horse.mp3" onclick="openVideo(this);">
                                                    <img class="single" src="~/Images/audio_logo.jpg" />
                                                    <span>video.mp4</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="R5erqZd" node-type="R5erqZd">
            <div class="WCsJlzB" node-type="WCsJlzB">
                <div class="frame-main" id="layoutCardHolder" style="display: none;">
                    <div class="dQFtEv">
                        <div class="grgalVdr DxdbeCb g-clearfix">
                            <div class="erlBo4"></div>
                            <div class="vsblykxW">
                                <div class="hmsnlEN7"></div>
                            </div>
                            <div class="zjxhlqo8"></div>
                            <div class="amwr9wa">
                            </div>
                        </div>
                        <div node-type="xkgrOW6" class="vmrxN2">
                            <span class="jlmgr6L3">全部文件</span>
                            <span class="epyvwl">获取更多数据...</span>
                        </div>
                        <div class="cardHolder-container">
                            <div class="BFdewJb">
                                <ul class="guxIfyb"></ul>
                            </div>
                            <div class="cardDetail hide">
                                <div class="detail-container">
                                    <div class="detail-content">
                                        <div class="left-imgs">
                                            <ul class="imgs"></ul>
                                        </div>
                                        <div class="right-content">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dynamicLayout_0" style="z-index: 41;">
        <div node-type="module" class="module-header">
            <!-- header fragment -->
            <div node-type="module-header-wrapper" class="module-header-wrapper" style="height: 62px;">
                <dl class="xtJbHcb">
                    <dt class="EHazOI">
                        <a href="https://pan.baidu.com/" target="_self" title="百度网盘"></a>
                    </dt>
                    <dd class="vyQHNyb" node-type="header-link">
                        <span class="cMEMEF wGMtMgb" node-type="disk-home">
                            <a href="https://pan.baidu.com/disk/home" target="_self" title="网盘" node-type="item-title">网盘</a>
                            <span class="gICyHO"></span>
                        </span>
                        <span class="cMEMEF " node-type="mbox-homepage">
                            <a href="https://pan.baidu.com/mbox/homepage" target="_self" title="分享" node-type="item-title">分享</a>
                            <span class="gICyHO"></span>
                        </span>
                        <span class="cMEMEF  find-light" node-type="find-apps">
                            <a href="https://pan.baidu.com/disk/discovery" target="_self" title="更多" node-type="item-title">更多</a>
                            <span class="gICyHO"></span><i class="find-light-icon"></i>
                        </span>
                    </dd>
                    <dd class="CDaavKb" node-type="header-apps">
                        <span class="DIcOFyb" node-type="app-user-info">
                            <span class="user-photo-box"><i class="user-photo" style="background-image:url(https://ss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portrait/item/10970263.jpg);filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://ss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portrait/item/10970263.jpg', sizingMethod='scale');"></i></span>
                            <span class="user-name">onekeepone</span>
                            <span class="animate-start animate-level-0"><i class="star start-left"></i><i class="bar-bling"></i><i class="bar-bling2"></i><i class="star start-right"></i></span>
                            <a class="JS-user-level level-0" node-type="app-user-level" href="https://pan.baidu.com/buy/center?tag=8&amp;from=hicon" target="_blank"></a><i node-type="img-ico" class="NxuPcOb icon icon-dropdown-arrow"></i><dl class="PvsOgyb" node-type="app-user-box">
                                <dt class="OMDFeH level-0">
                                    <i class="desc-arrow"></i><i class="desc-layer"></i>
                                    <span class="desc-header">
                                        <span class="user-photo-box"><i class="user-photo" style="background-image:url(https://ss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portrait/item/10970263.jpg);filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://ss0.bdstatic.com/7Ls0a8Sm1A5BphGlnYG/sys/portrait/item/10970263.jpg', sizingMethod='scale');"></i></span>
                                        <span class="user-info" title="onekeepone">
                                            <span class="username">onekeepone</span>
                                            <a class="JS-user-level level-0" node-type="app-user-level" href="https://pan.baidu.com/buy/center?tag=8&amp;from=hicon" target="_blank"></a>
                                        </span>
                                    </span>
                                </dt>
                                <dd class="desc-box">
                                    <div class="vip-notice">
                                        超级会员尊享15项特权：
                                        <a href="https://pan.baidu.com/buy/center?tag=8&amp;from=card" target="_blank" class="eQyIbEb">开通超级会员</a>
                                    </div>
                                    <div class="vip-privilege">
                                        <a target="_blank" href="https://pan.baidu.com/buy/center?tag=4#question=vip-space" class="JS-privilege-icon icon-capacity-5t" title="5T超大空间"></a>
                                        <a target="_blank" href="https://pan.baidu.com/buy/center?tag=4#question=vip-speed" class="JS-privilege-icon icon-download-speed-raising" title="极速下载"></a>
                                        <a target="_blank" href="https://pan.baidu.com/buy/center?tag=4#question=cloud-unzip" class="JS-privilege-icon icon-cloud-unzip" title="在线云解压"></a>
                                        <a target="_blank" href="https://pan.baidu.com/buy/center?tag=4#question=save-files" class="JS-privilege-icon icon-file-limit-5000" title="一键转存50000文件"></a>
                                        <a target="_blank" href="https://pan.baidu.com/buy/center?tag=8&amp;from=cardmore" class="JS-privilege-icon icon-know-more" title="了解更多"></a>
                                    </div><ul class="QgxQAN">
                                        <li class="cMEMEF">
                                            <a href="https://passport.baidu.com/center" node-type="user-info-btn" target="_blank">个人资料</a>
                                        </li>
                                        <li class="cMEMEF password">
                                            <a href="https://pan.baidu.com/sbox/page/initpwd" node-type="pwd-init-btn">设置二级密码</a>
                                        </li>
                                        <li class="cMEMEF">
                                            <a href="https://yun.baidu.com/disk/help" node-type="help-center-btn" target="_blank">帮助中心</a>
                                        </li>
                                        <li class="cMEMEF">
                                            <a href="javascript:;" node-type="login-out">退出</a>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                        </span><i class="Ebdyswb"></i>
                        <a href="http://pan.baidu.com/download" target="_blank" class="app-download" title="客户端下载">客户端下载</a>
                        <a href="https://pan.baidu.com/pcloud/msg" target="_blank" class="icon app-notice icon-notice app-notice app-icon" title="系统通知">
                            <i class="app-notice-light" node-type="app-notice-light" style="display: none;"></i>
                        </a>
                        <a href="http://help.baidu.com/newadd?prod_id=29&amp;category=2&amp;ptype=48" target="_blank" class="icon icon-feedback app-feedback app-icon" title="意见反馈"></a>
                        <a href="javascript:void(0);" target="_self" class="icon icon-theme app-theme app-icon" title="皮肤中心">
                            <span class="newIcon"></span>
                        </a>
                        <a href="https://pan.baidu.com/buy/center?tag=8&amp;from=homepage" target="_blank" class="KQcHyA" title="会员中心">会员中心</a>
                    </dd>
                    <dd class="gOIbzPb" node-type="header-union">
                        <a href="https://yun.baidu.com/buy/center?tag=8&amp;from=wzl" target="_blank" class="BHgeMdb" title="超级会员 超低价">超级会员 超低价</a>
                    </dd>
                </dl>
            </div><!-- /header fragment -->
        </div>
    </div>
</div>
<img style="position:absolute;top:-10px;left:-10px;width:1px;height:1px;display:none;" src="~/Styles/file">
<img style="position:absolute;top:-10px;left:-10px;width:1px;height:1px;display:none;" src="~/Styles/file(1)">
<img style="position:absolute;top:-10px;left:-10px;width:1px;height:1px;display:none;" src="~/Styles/file(2)">
<div style="display: none;">
</div>
<div class="dialog dialog-web-uploader   dialog-blue h5-uploader" id="web-uploader" style="width: 633px;">
    <div class="dialog-header">
        <h3>
            <span class="dialog-header-title"><em class="select-text">文件上传</em></span>
        </h3>
        <div class="dialog-control">
            <span class="dialog-icon dialog-close icon icon-close">
                <span class="sicon">×</span>
            </span>
            <span class="dialog-icon dialog-min icon icon-minimize">
                <span class="sicon">-</span>
            </span>
        </div>
    </div>
    <div class="dialog-min-header">
        <div class="header-progress"></div><h3>
            <span class="dialog-header-title">
                <em class="select-text">文件上传</em>
            </span>
        </h3>
        <div class="dialog-control">
            <span class="dialog-icon dialog-close icon icon-close">
                <span class="sicon">×</span>
            </span>
            <span class="dialog-icon dialog-back icon icon-maximizing">
                <span class="sicon">□</span>
            </span>
        </div>
        <div class="tips" style="display: block;">
            <div class="resident-caution">
                <span class="caution-title">警告</span>
                <span class="caution-text">严禁利用百度网盘上传、传播暴力恐怖、色情违法及其他违法信息，一经发现将严格按照相关法律法规处理。</span><em class="arrow-outer"></em><em class="arrow-inner"></em>
            </div>
            <a class="g-button" href="javascript:void(0);">
                <span class="g-button-right">立即下载</span>
            </a>
            <div class="text"></div><em class="close">×</em>
        </div>
    </div>
    <div class="dialog-body">
        <div class="uploader-list-wrapper">
            <div class="uploader-list-header">
                <div class="file-name">文件(夹)名</div>
                <div class="file-size">大小</div>
                <div class="file-path">上传目录</div>
                <div class="file-status">状态</div>
                <div class="file-operate">操作</div>
            </div>
            <div class="tips" style="display: block;">
                <div class="resident-caution">
                    <span class="caution-title">警告</span>
                    <span class="caution-text">严禁利用百度网盘上传、传播暴力恐怖、色情违法及其他违法信息，一经发现将严格按照相关法律法规处理。</span><em class="arrow-outer"></em><em class="arrow-inner"></em>
                </div>
                <a class="g-button" href="javascript:void(0);">
                    <span class="g-button-right">立即下载</span>
                </a>
                <div class="text"></div><em class="close">×</em>
            </div>
            <div class="uploader-list"><ul class="container" id="uploaderList"></ul></div>
        </div>
    </div>
</div>
<div class="httpProxy-container" style="position:absolute;top:-9999px;">
    <object type="application/x-shockwave-flash" id="httpProxy" name="httpProxy" data="~/Styles/HttpProxy_e00bc12.swf" width="1" height="1" style="visibility: visible;"><param name="quality" value="high"><param name="wmode" value="opaque"><param name="allowscriptaccess" value="always"><param name="allowfullscreen" value="false"><param name="flashvars" value="onReady=httpProxyFunc.onReady"></object>
</div>
<div style="position:absolute;background:rgba(255,255,255,0.6);border:3px #ccc dashed;z-index:1000000;display:none;color:#999;font-size:40px;text-align:center;overflow:hidden;">上传文件到当前目录下</div>
<div class="context-menu" id="m030195910692720207"><ul class="list" style="z-index: 100; left: 648px; top: 677px; display: none;"><li id="i08773155045074859" class="has-more arrowicon" data-variable-menu="true" data-group="0">查看(V)<ul class="list"></ul></li><li id="i03819816046474793" class="has-more arrowicon" data-check-display="true" data-group="0" style="display: block; z-index: 102;">排序方式(O)<ul class="list" style="left: 138px; top: -3px; display: none;"><li id="i02771953015566586" data-group="0">名称</li><li id="i037865179563354645" data-group="0">大小</li><li id="i04273559964572098" data-group="0">修改日期</li></ul></li><li id="i04870056703394734" data-group="0">刷新(E)</li><li class="separate" data-group="0"></li><li id="i05707074975553874" data-group="1">重新加载页面(R)</li><li id="i012341699876418244" data-check-display="true" data-group="1" class="" style="display: block;"><em class="icon icon-menu-createfolder"></em><em class="icon-hover icon-menu-createfolder"></em>新建文件夹</li><li class="separate" data-group="1"></li><li id="i021600843345891718" data-group="2"><em class="icon icon-menu-vip"></em><em class="icon-hover icon-menu-vip"></em>会员中心</li></ul></div>
<div class="dialog dialog-web-uploader   dialog-blue flash-uploader" id="web-uploader" style="width: 633px;">
    <div class="dialog-header">
        <h3>
            <span class="dialog-header-title"><em class="select-text">文件上传</em></span>
        </h3>
        <div class="dialog-control">
            <span class="dialog-icon dialog-close icon icon-close">
                <span class="sicon">×</span>
            </span>
            <span class="dialog-icon dialog-min icon icon-minimize">
                <span class="sicon">-</span>
            </span>
        </div>
    </div>
    <div class="dialog-min-header">
        <div class="header-progress"></div><h3>
            <span class="dialog-header-title"><em class="select-text">文件上传</em></span>
        </h3>
        <div class="dialog-control">
            <span class="dialog-icon dialog-close icon icon-close">
                <span class="sicon">×</span>
            </span>
            <span class="dialog-icon dialog-back icon icon-maximizing">
                <span class="sicon">□</span>
            </span>
        </div>
        <div class="tips" style="display: block;">
            <div class="resident-caution">
                <span class="caution-title">警告</span>
                <span class="caution-text">严禁利用百度网盘上传、传播暴力恐怖、色情违法及其他违法信息，一经发现将严格按照相关法律法规处理。</span><em class="arrow-outer"></em><em class="arrow-inner"></em>
            </div>
            <a class="g-button" href="javascript:void(0);">
                <span class="g-button-right">立即下载</span>
            </a>
            <div class="text"></div><em class="close">×</em>
        </div>
    </div>
    <div class="dialog-body">
        <div class="uploader-list-wrapper">
            <div class="uploader-list-header">
                <div class="file-name">文件(夹)名</div>
                <div class="file-size">大小</div>
                <div class="file-path">上传目录</div>
                <div class="file-status">状态</div>
                <div class="file-operate">操作</div>
            </div>
            <div class="tips" style="display: block;">
                <div class="resident-caution">
                    <span class="caution-title">警告</span>
                    <span class="caution-text">严禁利用百度网盘上传、传播暴力恐怖、色情违法及其他违法信息，一经发现将严格按照相关法律法规处理。</span><em class="arrow-outer"></em><em class="arrow-inner"></em>
                </div>
                <a class="g-button" href="javascript:void(0);">
                    <span class="g-button-right">立即下载</span>
                </a>
                <div class="text"></div><em class="close">×</em>
            </div>
            <div class="uploader-list"><ul class="container" id="uploaderList"></ul></div>
        </div>
    </div>
</div>
<div class="context-menu" id="m030195910692720207"><ul class="list" style="z-index: 100; left: 1040px; top: 341px; display: none;"><li id="i0903918483905461" class="has-more arrowicon" data-variable-menu="true" data-group="0">查看(V)<ul class="list"></ul></li><li id="i04320239605999394" class="has-more arrowicon" data-check-display="true" data-group="0" style="display: block;">排序方式(O)<ul class="list"><li id="i021624117254953057" data-group="0">名称</li><li id="i021727258508847425" data-group="0">大小</li><li id="i022599497494042997" data-group="0">修改日期</li></ul></li><li id="i06398775440304734" data-group="0">刷新(E)</li><li class="separate" data-group="0"></li><li id="i08165856042136501" data-group="1">重新加载页面(R)</li><li id="i049752602439889104" data-check-display="true" data-group="1" class="" style="display: block;"><em class="icon icon-menu-createfolder"></em><em class="icon-hover icon-menu-createfolder"></em>新建文件夹</li><li class="separate" data-group="1"></li><li id="i02513685755981101" data-group="2"><em class="icon icon-menu-vip"></em><em class="icon-hover icon-menu-vip"></em>会员中心</li></ul></div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    视频播放窗体
                </h4>
            </div>
            <div class="modal-body">
                <video class="col-md-12" controls>
                    <source src="~/UploadPath/LMX/movie.mp4" type="video/mp4">
                    <source src="~/UploadPath/LMX/movie.ogg" type="video/ogg">
                    您的浏览器不支持 HTML5 video 标签。
                </video>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-primary">
                    提交更改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<div class="modal fade" id="myModalAudio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    视频播放窗体
                </h4>
            </div>
            <div class="modal-body">
                <audio class="col-md-12" controls>
                    <source src="~/UploadPath/LMX/movie.mp4" type="video/mp4">
                    <source src="~/UploadPath/LMX/movie.ogg" type="video/ogg">
                    您的浏览器不支持 HTML5 video 标签。
                </audio>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-primary">
                    提交更改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>